name: Selenium Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  selenium:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          pip install selenium pytest

      - name: Instalar Chrome y driver
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser chromium-chromedriver
          which chromedriver

      - name: Ejecutar pruebas con Selenium
        env:
          PATH: /usr/bin/chromium-browser:/usr/bin/chromedriver:$PATH
        run: |
          pytest tests/ -v
